.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9991;
    background: url(http://www.adfreetorrents.com/images/loader.gif) center no-repeat #fff;
    background-size: 80px;
}